

body{
	background-image: url("../pictures/1925941.jpg");
	background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
    overflow: auto;
}

table {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    height: 10%;
    
    opacity: 40%;
}
p{
    padding:5px;
    margin:50px;
}
td a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.fv{
    margin:100px;
    width:70%;
     text-align: center;
     float:right;
}



td a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.desc{
    background-color: coral;
    opacity:50%;
    /* position:relative; */
    font-size: large;
    width:70%;
    float:right;
}
div.gallery {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    text-align: center;
    
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}


#films{
    text-align: center;
}


ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    
    /* position: fixed; */
    bottom: 0;
    width: 20%;
    float:left; 
     /* position: fixed; */
}

li {
    /* float: left; */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

div.desc{
    width:100%;
}